services:
  db:
    image: postgres:15-alpine
    container_name: tarea6
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"

  web:
    build: ./app-next
    container_name: nextjs_container
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./app-next:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
